html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 20px;
}

header {
  background-color: #5CC8FF;
  font-family: "Karla", sans-serif;
  background-image: url(../assets/heroImage.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  height: 80vh;
}
header .wrapper {
  height: 100%;
  color: #dff2e0;
}
header .wrapper h1 {
  font-size: 4rem;
}
header .wrapper p {
  font-size: 1.4rem;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
  position: fixed;
  width: 100%;
  background: #191308;
  height: 80px;
}
.navBar h2 {
  color: #5CC8FF;
}
.navBar ul {
  display: flex;
  list-style: none;
}
.navBar ul li {
  padding: 0 28px;
}
.navBar ul li a {
  text-decoration: none;
  color: #f4f1f8;
}
.navBar ul li a:hover {
  color: #5CC8FF;
  box-shadow: #5CC8FF 0 4px;
  transition: 0.3s ease-in-out;
}

.headText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.headText div {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 54%;
  min-width: 648px;
  height: 36%;
  border-top-right-radius: 25px;
}
.headText div h1, .headText div p {
  color: #f4f1f8;
  padding: 0;
  margin: 0;
}
.headText div h1 {
  font-size: 5rem;
}
.headText div p {
  margin-bottom: 28px;
  font-size: 2rem;
}
.headText div::after {
  content: "";
  border-top: 6px solid #f4f1f8;
  width: 44%;
}

section.about {
  background: #f4f1f8;
  border-top: 60px white solid;
  -o-border-image: linear-gradient(45deg, #5CC8FF, #33c9dd) 1;
     border-image: linear-gradient(45deg, #5CC8FF, #33c9dd) 1;
  padding: 66px 0;
}
section.about .wrapper {
  display: flex;
}
section.about .wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.about .wrapper .aboutText {
  flex-basis: 60%;
}
section.about .wrapper .aboutText h3 {
  font-family: "Karla", sans-serif;
  font-size: 2.2rem;
}
section.about .wrapper .aboutText p {
  font-family: "Open Sans", sans-serif;
  padding: 36px 62px 40px 16px;
}
section.about .wrapper .aboutText::after {
  content: "";
  border-bottom: 8px solid #5CC8FF;
  width: 40%;
}
section.about .wrapper .aboutPic {
  flex-basis: 40%;
  text-align: center;
}
section.about .wrapper .aboutPic img {
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  margin: 16px;
  width: 100%;
  height: auto;
  box-shadow: #5CC8FF -12px 12px;
}

section.credits {
  height: 560px;
  background-color: #f4f1f8;
}
section.credits .wrapper {
  display: flex;
  justify-content: space-around;
}
section.credits .wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 28.2px;
  width: 22%;
  padding: 44px 6px;
}
section.credits .wrapper div i {
  font-size: 86px;
  padding: 52px 0;
  color: #5CC8FF;
}
section.credits .wrapper div p {
  font-family: "Open Sans", sans-serif;
}

section.contact form input {
  font-family: "Open Sans", sans-serif;
}
section.contact form textarea {
  resize: none;
}/*# sourceMappingURL=styles.css.map */